In [1]:
import pandas as pd

df=pd.read_csv('transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [4]:
num_col=len(df.columns)
print("Number of columns :",num_col)

print("\nNumber of Attributes:", df.shape[1])

Number of columns : 5

Number of Attributes: 5

In [10]:
num_row=len(df)
print("Number of rows :",num_row)    #records

Number of rows : 10

In [5]:
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [8]:
top10=df.head(10)
print(top10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
print(df.index)

RangeIndex(start=0, stop=10, step=1)

In [25]:
#7.Change the name of column “ Quantity” to “Quant”
df.rename(columns={'Quantity':'Quant'}, inplace=True)
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UID', 'UID', 'Quant'], dtype='object')

In [29]:
#8.Change the name of columns ProductID and UserID
df.rename(columns={'UID': 'PID'}, inplace=True)

print(df.columns)

Index(['TransactionID', 'TransactionDate', 'PID', 'PID', 'Quant'], dtype='object')

In [31]:
df.columns = ['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant']
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant'], dtype='object')

In [35]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
df = df.sort_values(by='TransactionID', ascending=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [36]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
desc=df.sort_values(by='Quant', ascending=True)
print(desc)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
4              5      2013-06-06  2.0    4      1
6              7      2013-12-30  3.0    4      1
3              4      2012-08-26  1.0    2      3
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [37]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
df = df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
print(df)

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

In [39]:
#12. Make UserID the first column of transactions
# Reorder columns with UserID first
cols = ['UID'] + [col for col in df.columns if col != 'UID']
df = df[cols]
print(df.columns)

Index(['UID', 'PID', 'Quant', 'TransactionDate', 'TransactionID'], dtype='object')

In [45]:
#13. Extracting arrays from a Data Frame. Get the 2nd column

# indexing starting from '0'

second_col = df.iloc[:, 1].values
print(second_col)

[2 4 3 2 4 5 4 2 4 4]

In [47]:
#14. Get the ProductID Array
product_array = df['PID'].values
print(product_array)

[2 4 3 2 4 5 4 2 4 4]

In [49]:
#Subset rows 1, 3, and 6
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

In [50]:
#17. subset rows excluding 1,3 and 6
df_subset = df.drop(df.index[[1, 3, 6]])
print(df_subset)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [54]:
#18. Subset the first three rows
#19. Subset the last 2 rows

first_three = df.iloc[:3]
print("First 3 rows:\n", first_three)

last_two=df.iloc[-2:]
print("\nLast 2 rows:\n", last_two)

First 3 rows:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

Last 2 rows:
    UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [61]:
#20. Subset rows excluding the last 2 rows
#21. Subset rows excluding the first 3 rows

last_two=df.iloc[:-2]
print("Exc Last two ",last_two)

frist_three=df.iloc[3:]
print("Exc frist_three",frist_three)

Exc Last two     UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
Exc frist_three    UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [65]:
#22. Subset rows where Quantity>1
subset = df[df['Quant'] > 1]

print(subset)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [74]:
#23. Subset rows where UserID=2

user=df[df['UID']==2]
print(user)

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [76]:
#24. Subset rows where Quantity>1 and UserID=2

subset = df[(df['Quant']>1) & (df['UID']==2)]
print(subset)

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [77]:
#25. Subset rows where Quantity + UserID is >3

subset = df[(df['Quant'] + df['UID']) > 3]
print(subset)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [88]:
#26. Subset rows where an external array, foo, is True
#27. Subset rows where an external array, bar, is positive
import numpy as np
foo = [True, False, True, False,True, False,True, False,True, False] 
subset_foo = df[foo]
print(subset_foo)

bar = [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]
bar = np.array(bar)
subset_bar = df[bar > 0]

print(subset_bar)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9

In [89]:
#28. Subset rows where foo is TRUE or bar is negative

foo=[False,True,True,False,False,False,False,True,False,False]
subset=df[foo]
print(subset)

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
7  NaN    2      3      2014-04-24              8

In [92]:
#29. Subset the rows where foo is not TRUE and bar is not negative


foo = [True, False, True, False, True, False, True, False, True, False]
bar = [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]

# Convert bar to numpy array for element-wise comparison
bar = np.array(bar)

# Subset where foo is NOT True (i.e., False), and bar is NOT negative (i.e., >= 0)
subset = df[(np.logical_not(foo)) & (bar >= 0)]

# Print the result
print(subset)

Empty DataFrame
Columns: [UID, PID, Quant, TransactionDate, TransactionID]
Index: []

In [98]:
#30. Subset by columns 1 and 3

subset = df.iloc[:,[0,2]]
print(subset)

   UID  Quant
0  7.0      1
1  3.0      1
2  3.0      1
3  1.0      3
4  2.0      1
5  2.0      6
6  3.0      1
7  NaN      3
8  7.0      3
9  3.0      4

In [100]:
#31. Subset by columns TransactionID and TransactionDate

subset = df[['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [108]:
#32. Subset by columns TransactionID and TransactionDate with logical operator

subset = df[df['TransactionID'] > 1][['TransactionID', 'TransactionDate']]

subsets = df[(df['TransactionID'] > 2) & (df['TransactionDate'] >= '2023-01-01')][['TransactionID', 'TransactionDate']]

print(subset)

   TransactionID TransactionDate
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [109]:
#33. Subset columns by a variable list of column names

cols = ['TransactionID', 'TransactionDate']
subset = df[cols]
print(subset)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [110]:
#34. Subset columns excluding a variable list of column names

exclude_cols = ['TransactionID', 'TransactionDate']
subset = df[[col for col in df.columns if col not in exclude_cols]]
print(subset)

   UID  PID  Quant
0  7.0    2      1
1  3.0    4      1
2  3.0    3      1
3  1.0    2      3
4  2.0    4      1
5  2.0    5      6
6  3.0    4      1
7  NaN    2      3
8  7.0    4      3
9  3.0    4      4

In [112]:
#35. Inserting and updating values

df['NewColumn'] = 'default'        # Insert new column with default value
df.loc[0, 'NewColumn'] = 'updated' # Update a specific cell
df.loc[df['UID']== 2, 'NewColumn'] = 'special'  # Update conditionally

In [115]:
#36. Convert the TransactionDate column to type Date

df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df)

   UID  PID  Quant TransactionDate  TransactionID NewColumn
0  7.0    2      1      2010-08-21              1   updated
1  3.0    4      1      2011-05-26              2   default
2  3.0    3      1      2011-06-16              3   default
3  1.0    2      3      2012-08-26              4   default
4  2.0    4      1      2013-06-06              5   special
5  2.0    5      6      2013-12-23              6   special
6  3.0    4      1      2013-12-30              7   default
7  NaN    2      3      2014-04-24              8   default
8  7.0    4      3      2015-04-24              9   default
9  3.0    4      4      2016-05-08             10   default

In [118]:
#37. Insert a new column, Foo=UserID+ProductID

df['Foo'] = df['UID'] + df['PID']
print(df)

   UID  PID  Quant TransactionDate  TransactionID NewColumn   Foo
0  7.0    2      1      2010-08-21              1   updated   9.0
1  3.0    4      1      2011-05-26              2   default   7.0
2  3.0    3      1      2011-06-16              3   default   6.0
3  1.0    2      3      2012-08-26              4   default   3.0
4  2.0    4      1      2013-06-06              5   special   6.0
5  2.0    5      6      2013-12-23              6   special   7.0
6  3.0    4      1      2013-12-30              7   default   7.0
7  NaN    2      3      2014-04-24              8   default   NaN
8  7.0    4      3      2015-04-24              9   default  11.0
9  3.0    4      4      2016-05-08             10   default   7.0