In [1]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [4]:
print(df.info(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [5]:
print(df.tail(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [11]:
print(df[['TransactionID','UserID']])

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

In [13]:
print(df.iloc[5])

TransactionID               6
TransactionDate    2013-12-23
UserID                    2.0
ProductID                   5
Quantity                    6
Name: 5, dtype: object

In [15]:
filtered_df = df[df['Quantity'] > 2]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [16]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [17]:
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [5]:
import pandas as pd
df = pd.read_csv('transactions.csv')
prod=df[df['ProductID']==4]
print(prod)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
df.rename(columns={"TransactionDate":"TransDate"},inplace=True)
print(df.head())

   TransactionID   TransDate  UserID  ProductID  Quantity
0              1  2010-08-21     7.0          2         1
1              2  2011-05-26     3.0          4         1
2              3  2011-06-16     3.0          3         1
3              4  2012-08-26     1.0          2         3
4              5  2013-06-06     2.0          4         1

In [9]:
df.rename(columns={'TransDate':'TransactionsDate'},inplace=True)
print(df.tail(10))

   TransactionID TransactionsDate  UserID  ProductID  Quantity
0              1       2010-08-21     7.0          2         1
1              2       2011-05-26     3.0          4         1
2              3       2011-06-16     3.0          3         1
3              4       2012-08-26     1.0          2         3
4              5       2013-06-06     2.0          4         1
5              6       2013-12-23     2.0          5         6
6              7       2013-12-30     3.0          4         1
7              8       2014-04-24     NaN          2         3
8              9       2015-04-24     7.0          4         3
9             10       2016-05-08     3.0          4         4

In [10]:
print(df.isnull().sum())

TransactionID       0
TransactionsDate    0
UserID              1
ProductID           0
Quantity            0
dtype: int64

In [12]:
import pandas as pd
df=pd.read_csv('transactions.csv')
sort_asc=df.sort_values(by=['Quantity'],ascending=True)
print(sort_asc)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [13]:
sort_desc=df.sort_values(by=['Quantity'],ascending=False)
print(sort_desc)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1

In [17]:
sorting=df.sort_values(by=['Quantity','ProductID'],ascending=[False,True])
print(sorting)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1

In [19]:
subset=df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [22]:
subset=df[df['Quantity']>1]
sort=subset.sort_values(by=['Quantity'],ascending=True)
print(sort)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [25]:
subset_r=df.iloc[[1,4,6,9]]
print(subset_r)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
9             10      2016-05-08     3.0          4         4

In [30]:
foo=[True,False,True,False,True,False,True,False,True,False]
subset_r=df[foo]
print(subset_r)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3